.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
    width: 100%;
}

.difficulty-title {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.rules-list {
    list-style-type: disc;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: fit-content;
    padding-bottom: 20px;
}

.guess-input {
    border: 3px solid #000;
    border-radius: 5px;
    height: 50px;
    line-height: normal;
    color: #282828;
    display: block;
    box-sizing: border-box;
    user-select: auto;
    font-size: 16px;
    padding: 0 6px;
    padding-left: 12px;
    margin-bottom: 16px;
}

.guess-input:focus {
    border: 3px solid #5551ff;
}

.guess-button {
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    padding: 17px 30px;
    border: 0;
    color: #fff;
    font-size: 17.5px;
    border: 3px solid transparent;
    border-color: #000;
    color: #000;
    background: transparent;
    font-weight: 800;
    line-height: 30px;
    transition: background,color .1s ease-in-out;
}

.guess-button:hover {
    background-color: #000;
    color: #fff;
}