.game-over-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
}

.game-over-text {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    margin-right: -30px;
}

.player-stats-header {
    text-align: center;
    margin-right: -30px;
}

.player-stats {
    text-align: center;
    list-style-type: none;
    margin-top: -5px;
    font-size: 18px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-again-button,
.exit-button {
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    padding: 17px 30px;
    border: 0;
    color: #fff;
    font-size: 17.5px;
    border: 3px solid transparent;
    border-color: #000;
    color: #000;
    background: transparent;
    font-weight: 800;
    line-height: 30px;
    transition: background,color .1s ease-in-out;
    margin: 0 20px;
}

.play-again-button:hover {
    background-color: #358235;
    color: #fff;
}

.exit-button:hover {
    background-color: #C92C2C;
    color: #fff;
}