.sign-in-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
}

.welcome-text {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-user-button,
.return-user-button {
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    padding: 17px 30px;
    border: 0;
    color: #fff;
    font-size: 17.5px;
    border: 3px solid transparent;
    border-color: #000;
    color: #000;
    background: transparent;
    font-weight: 800;
    line-height: 30px;
    transition: background,color .1s ease-in-out;
    margin: 0 20px;
}

.new-user-button:hover,
.return-user-button:hover {
    background-color: #000;
    color: #fff;
}

